<!-- Footer -->
<footer>
    <div class="mail">
        <a id="mail" href="mailto:deytulsi18@gmail.com" target="_blank" rel="noopener noreferrer">deytulsi18@gmail.com</a>
    </div>
    <p class="copyRightText">
        Made with &#10084;&#65039;
    </p>
</footer>