<!-- Navbar -->
<header>
    <div>
        <a href="/" class="logo">TULSI</a>
    </div>
    <div class="menuToggle">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
    </div>
</header>
<!-- Navigation -->
<div class="navigation">
    <ul class="menu">
        <li>
            <a href="javascript:delay('/')" onclick="toggleMenu();">Home</a>
        </li>
        <li>
            <a href="javascript:delay('/index.html#post-section')" onclick="toggleMenu();">Featured</a>
        </li>
        <li>
            <a href="javascript:delay('/posts/')" onclick="toggleMenu();">All Posts</a>
        </li>
        <li>
            <a href="javascript:delay('/contact/')" onclick="toggleMenu();">Contact</a>
        </li>
    </ul>
    <br>
        <div id="toggle" class="light-mode">
            <i id="indicator"></i>
        </div>
    </div>