@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

/* contact */

.contact-section {
  min-height: 84vh;
}

.contact-form {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-title {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--orange-text);
}

br {
  display: none;
}

input[type="text"],
input[type="email"],
textarea {
  outline: none;
}

input {
  background-color: #fff4e9;
  font-size: 1rem;
  color: #000;
  font-family: sans-serif;
  width: 300px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  border: 5px solid #ff6700;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.5);
}
textarea {
  background-color: #fff4e9;
  font-size: 1rem;
  color: #000;
  font-family: sans-serif;
  resize: none;
  width: 300px;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 10px;
  border: 5px solid #ff6700;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.5);
}
.submit {
  width: 150px;
  text-align: center;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: #ff6700;
  color: #fff;
  font-family: "Fira Code", monospace;
  border: 1px solid #ff8c00;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.5);
}

/* toast */

#toast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 180px;
  visibility: hidden;
  height: 50px;
  margin: auto;
  background-color: #4bb543;
  color: #fff;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 5rem;
  font-size: 17px;
  border-radius: 5px;
}

#toast #toast-message {
  width: fit-content;
  color: #fff;
  padding: 16px;
}

#toast.show {
  visibility: visible;
  /* safari */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 2s;
}

#toast-red {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  max-width: 212px;
  visibility: hidden;
  height: 50px;
  margin: auto;
  background-color: #b54343;
  color: #fff;
  text-align: center;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  top: 5rem;
  font-size: 17px;
  border-radius: 5px;
}

#toast-red #toast-message {
  width: fit-content;
  color: #fff;
  padding: 16px;
}

#toast-red.show {
  visibility: visible;
  /* safari */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.5s;
  animation: fadein 0.5s, fadeout 0.5s 2s;
}

@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 5rem;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }

  to {
    top: 5rem;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 5rem;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 5rem;
    opacity: 1;
  }

  to {
    top: 0;
    opacity: 0;
  }
}

@media (max-width: 750px) {
  .contact-title {
    margin-top: 4rem;
  }
}
